body{
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}
.container{
    max-width:400px;
    margin:0 auto;
    background-color: rgb(161, 168, 52);
    text-align: center;
    border-radius:10px;
    padding:20px;
    margin-top:105px
}

.weather-info{
margin-top:30px;
}
input{
width:200px;
border-radius:10px;
border:2px solid black;
padding:10px;
background-color:rgb(87, 181, 219);
font-weight:600;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
padding:10px;
border-radius:10px;
border: 2px solid black;
margin-left:1px;
background-color: green;
color:black;
}
h1{
color:black;
}