@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Homemade+Apple&family=Inter&family=Lato&family=Mooli&family=Open+Sans:ital,wght@0,300;0,500;1,400&family=Playpen+Sans&family=Poppins:ital,wght@0,200;0,300;1,300&family=Roboto:ital,wght@0,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container{
width: 500px;
height: 250px;
margin: auto;
outline: solid 1px black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: powderblue;
border-radius:30px;
border: 1px solid white;
}
#value{
    margin:10px;
    font-size:30px;
    font-weight:800;
}
.container-2{
    padding:20px;
}
button{
    padding:5px;
    margin:5px;
    border-radius:10px;
    background-color:blueviolet;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

@media screen and(max-width:600px) {
    .container{
        width:90%;
    }
    
}