
    body{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        height:100vh;
        background-color:#42cbf5;
        
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border:5px solid  red;
        border-radius:5px;
        background-color: rgb(191, 213, 147);
        padding:10px;
      
        
    }
    #btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        
    }
    #btn-1{
        border-radius: 5px;
        padding:5px;
        font-weight:bold;
        background-color:greenyellow;


    }